:root {
  --accent-color: #2196f3;
  --accent-btn-color: #188ce8;
  --text: #757575;
  --white: #ffffff;
  --maine: #212121;
  --background-secondary-color: #f5f4fa;
  --primery-font-family: Roboto, sans-serif;
  --background-color-dark: #2f303a;
  --header-border: #ececec;
  --border-color: #eeeeee;
}

body {
  font-family: var(--primery-font-family);
  color: var(--text);
  background-color: var(--white);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-nav.current {
  color: var(--accent-color);
}

/* WebStudio */
.WebStudio {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  /* identical to box height */
  letter-spacing: 0.03em;

  color: #2196f3;
}

/* Studio */
.Studio {
  position: absolute;
  width: 42px;
  height: 16px;
  left: 457px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}
